.slider__main {
  height: 600px;

  .swiper {
    height: 100%;
  }
}

.slide__content {
  position: absolute;
  top: 35%;
  left: 10%;
  max-width: 500px;
  padding: 50px;
  border-radius: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.slide__title {
  margin-bottom: 25px;
}
.movies__container{
  max-width: 80%;
  width: 100%;
}
.slider__preview{
  .swiper-slide{
    height: 300px!important;
    width: 200px;
    img{
      height:100%;
      object-fit: cover;
    }
  }
}